<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryAgent">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYq9jENIHMhgqZvbNkflCnYQhgxHae4P4" />
        <activity
            android:name=".EarningsSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MapsRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".CodPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CallCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".AssignedOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSupportActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryAgentActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>